<nav class="navbar navbar-light bg-light">
    <a class="navbar-brand" href="#">
        <i class="fa fa-rocket fa-2x" aria-hidden="true">
        <span class="header">{{title}}</span>
      </i>
    </a>
    <div>
        <a class="navbar-brand" href="#">
            <i class="fa fa-home" aria-hidden="true">
      <span >Home</span>
    </i>
        </a>
        <a class="navbar-brand" href="#">
            <i class="fa fa-refresh" aria-hidden="true">
    <span>Reset</span>
  </i>
        </a>
    </div>

</nav>